
body {
    background-color: #f7f3f3;
}

header {
    background-color: #f7f3f3;

}

footer {
    background-color: #800000;
}

.logo {
    justify-content: space-between;
}

.carouselExampleDark {
    position: relative;
} 

#arrow {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#arrow.hidden {
    opacity: 0;
    pointer-events: none;
}
.img{
    width: 700px;
    height: 500px;
}


@media (max-width: 414px) {
    .img{
        width: 300px;
        height: 500px;
    }
  }
