/*
/* Products Page--------------------------------------------------------------------------------------------------------------*/

.products-page {
    padding: 0 80px;
    margin: auto;
}


.PageContent2 {
    margin: 35px auto;
}

.PageContent2--extraNarrow2 {

    display: flex;
    min-height: calc(100vh - 120px);
    align-items: center;
}

.PageContent2--fitScreen2 {
    display: flex;
    align-items: center;

}

.products-page img {
    height: 150px;
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}


.bg-teal-400 { 
    background-color: #26a69a;
}

.media-body a{
    text-decoration: none !important;
    color: #0F3446;
}




.media-body {
    text-align: left!important;
}

.foln button {
  margin-top: 24px;
  font-family: inherit;
  text-transform: uppercase;
  outline: 0;
  background: #0F3446;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.foln button:hover,.form button:active,.form button:focus {
  background: #000;
  transition: 0.4s ease;
}

.container .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: transparent;
    box-sizing: border-box;
    border: 0.5px solid #c4c3cf;
    border-radius: 0;
}

